
#main
    a(href="https://notify-bot.line.me/oauth/authorize?response_type=code&client_id=8kpgnjTu2IpAKh2IXa9Y3X&redirect_uri=https://9b704c879b66.ap.ngrok.io/linenotify&scope=notify&state=NO_STATE",target="_blank") 點此串接BITcoinNotify 